@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin left-right-padding($left, $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin left-right-margin($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

@mixin flex-style($direction, $content) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
}

@mixin underline-effect() {
  text-decoration: underline 0.15em $transparent;
  transition: text-decoration-color 400ms;
}
