$primary-background: url("../images/mthood-bw.jpg");

$transparent: rgba(0, 0, 0, 0);

$opaque-white: rgba(255, 255, 255, 0.6);

$white: rgba(255, 255, 255, .9);

$dark-green: rgba(28, 55, 29, 0.8);

$drop-shadow-green: 5px 12px 10px 1px $dark-green;

$drop-shadow-white: 5px 12px 10px 1px $opaque-white;

$primary-font: 'Cinzel', serif;
