@import '_variables';
@import '_mix-ins.scss';
@import '_keyframes.scss';
@import 'reset.scss';
@import 'login-page';
@import 'header';
@import 'customer-dashboard';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&display=swap');

html, body {
  @include size(100%, 100%);
}

body {
  font-family: $primary-font;
  background-image: $primary-background;
  background-repeat: no-repeat;
  background-size: cover;
}

button,
.select-date-button {
  font-family: $primary-font;
  padding: 5px;
}

button:hover,
.select-date-button:hover {
  cursor: pointer;
  color: $white;
  background-color: $dark-green;
}

.book-button:hover,
.enabled:hover, {
  cursor: pointer;
  text-decoration-color: $white;
}

.enabled:hover, {
  background-color: $dark-green;
}

.book-button,
.login-button {
  color: $white;
  background-color: transparent;
  border: none;
  text-decoration: underline 0.15em $transparent;
  transition: text-decoration-color 400ms;
}

.login-button {
  font-size: 18px;
  padding: 7px;
  font-family: $primary-font;
  background-color: $dark-green;
}

.disabled {
  cursor: not-allowed;
  background-color: $light-green;
}

.flex-column {
  @include flex-style(column, center);
}

.error-handle {
  margin-top: 20px;
  color: $white;
  text-align: center;
}

.hidden {
  display: none;
}
