/* This is an example of how to import a partial scss file*/
@import '_variables';
@import './_mix-ins.scss';
@import './reset.scss';

body {
  @include size(100%, 100%);
  background: $primary-background;
  background-repeat: no-repeat;
  background-size: cover;
  // overflow-y: hidden;
}

.book-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline 0.15em $transparent;
  transition: text-decoration-color 400ms
}

.book-button:hover {
  cursor: pointer;
  text-decoration-color: $dark-green;
}
  /* Scale from center- can't get this to work yet so have above that's ok for now*/
// .book-button:after {
//   opacity 1;
//   transform: scale(0);
//   transform-origin: center;
// }
//
// .book-button:hover::after,
// .book-button:focus::after{
//   transform: scale(1);
// }
