.customer-display {
  display: flex;
  justify-content: space-between;
}

.booking-history-section {
  @include size (50%, 25%);
  background-color: $opaque-white;
  justify-content: center;
  border: 2px solid $dark-green;
  margin: 75px 0px 0px 75px;
}

.bookings-list-container,
.available-list-container {
  @include flex-style(column, space-between);
  @include left-right-margin(20px, 20px);
  // align-items: center;
  background-color: $dark-green;
  color: $white;
  overflow: auto;
}

// .individual-bookings {
//   background-color: $white;
//
//   to be make on domUpdates
// }

.make-booking-section {
  @include size (50%, 55%);
  background-color: $opaque-white;
  // justify-content: center;
  border: 2px solid $dark-green;
  margin: 75px 75px 0px 0px;
}


.book-a-room-container {
  display: flex;


}

// from innerHTML
// .booked-info-card {
//   background-color: $opaque-white
// }


// @mixin flex-style($direction, $content) {
//     display: flex;
//     flex-direction: $direction;
//     justify-content: $content;
//   }
