.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.scale-in-center {
	-webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	text-align: center;
}

.login-title {
  font-size: 160px;
	color: $opaque-white;
}

.input-label {
	font-size: 20px;
	color: $white;
}

.username-input,
.password-input {
	background-color: $white;
	font-size: 25px;
}

.username-input {
	margin-bottom: 18px;
}
